In [27]:
import numpy as np
import pandas as pd

In [28]:
df = pd.read_csv('customer.csv')

In [29]:
df.sample(5)

    age  gender   review education purchased
9    74    Male     Good        UG       Yes
0    30  Female  Average    School        No
5    31  Female  Average    School       Yes
43   27    Male     Poor        PG        No
8    65  Female  Average        UG        No

In [30]:
df = df.iloc[:,2:]

In [31]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [32]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split

In [33]:
X_train, X_test, y_train, y_test= train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

In [34]:
X_train

     review education
39     Poor        PG
26     Poor        PG
36     Good        UG
3      Good        PG
0   Average    School
6      Good    School
32  Average        UG
13  Average    School
23     Good    School
8   Average        UG
37  Average        PG
44  Average        UG
28     Poor    School
12     Poor    School
33     Good        PG
35     Poor    School
46     Poor        PG
47     Good        PG
45     Poor        PG
15     Poor        UG
10     Good        UG
27     Poor        PG
43     Poor        PG
30  Average        UG
17     Poor        UG
18     Good    School
48     Good        UG
29  Average        UG
11     Good        UG
22     Poor        PG
14     Poor        PG
4   Average        UG
5   Average    School
49     Good        UG
38     Good    School
19     Poor        PG
9      Good        UG
25     Good    School
21  Average        PG
40     Good    School

In [35]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [36]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [37]:
X_train = oe.transform(X_train)

In [38]:
X_train

array([[0., 2.],
       [0., 2.],
       [2., 1.],
       [2., 2.],
       [1., 0.],
       [2., 0.],
       [1., 1.],
       [1., 0.],
       [2., 0.],
       [1., 1.],
       [1., 2.],
       [1., 1.],
       [0., 0.],
       [0., 0.],
       [2., 2.],
       [0., 0.],
       [0., 2.],
       [2., 2.],
       [0., 2.],
       [0., 1.],
       [2., 1.],
       [0., 2.],
       [0., 2.],
       [1., 1.],
       [0., 1.],
       [2., 0.],
       [2., 1.],
       [1., 1.],
       [2., 1.],
       [0., 2.],
       [0., 2.],
       [1., 1.],
       [1., 0.],
       [2., 1.],
       [2., 0.],
       [0., 2.],
       [2., 1.],
       [2., 0.],
       [1., 2.],
       [2., 0.]])

In [39]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [41]:
from sklearn.preprocessing import LabelEncoder

In [42]:
le = LabelEncoder()

In [43]:
le.fit(y_train)

LabelEncoder()

In [44]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [45]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [46]:
y_train

array([0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0])